doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet", href="/css/styles.css")
    script(src="https://unpkg.com/htmx.org@1.9.5")
    
  body.dark-theme
    header
      nav
        h1= title
    
    main
      block content
    
    footer
      p &copy; #{new Date().getFullYear()} {{name}}
    
    script(src="/js/main.js")